@import "tailwindcss";

@source "../**/*.{astro,md,mdx,ts,tsx}";

html {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
}

body {
  margin: 2rem;
}

main {
  max-width: 72rem;
}

pre {
  overflow-x: auto;
}
