:root[data-theme="light"] {
  --sl-color-accent-low: color-mix(in srgb, #fd5321 16%, white);
  --sl-color-accent: #fd5321;
  --sl-color-accent-high: color-mix(in srgb, #fd5321 42%, black);
}

:root[data-theme="dark"] {
  --sl-color-accent-low: color-mix(in srgb, #ff7a45 24%, black);
  --sl-color-accent: #ff7a45;
  --sl-color-accent-high: color-mix(in srgb, #ff7a45 34%, white);
}
